@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

@layer components {
  .link,
  .prose a {
    @apply rounded-sm font-medium text-primary-600 outline-none drop-shadow-sm;

    text-decoration: unset;
  }

  a:has(img) {
    @apply outline-none;
  }

  a > img {
    @apply rounded-sm drop-shadow-sm;
  }

  .prose img {
    display: unset;
    margin: unset;
  }

  .link:focus,
  .prose a:focus,
  a:focus > img {
    @apply ring-2 ring-primary-500 ring-offset-1;
  }

  .link:visited,
  .prose a:visited {
    @apply text-primary-500;
  }

  .link:hover,
  .prose a:hover {
    @apply text-primary-700 underline underline-offset-2;
  }

  .link:active,
  .prose a:active {
    @apply text-primary-500;
  }

  .prose :where(.prose > section:first-child > :first-child):not(:where([class~="not-prose"] *)),
  .prose * > p:first-child {
    @apply mt-0;
  }

  .prose :where(.prose > section:last-child > :last-child):not(:where([class~="not-prose"] *)),
  .prose * > p:last-child {
    @apply mb-0;
  }

  .prose figure {
    @apply float-right clear-right m-2 table w-auto;
  }

  .prose .thumb,
  .prose .sidebar,
  .prose .barbox {
    @apply float-right clear-right m-2 w-auto;
  }

  .prose figure figcaption {
    @apply mt-1 table-caption;

    caption-side: bottom;
  }

  .prose figure:has(blockquote) {
    @apply float-none clear-none mx-0 my-5;
  }

  .prose ul ol,
  .prose ol ol,
  .prose ol ul,
  .prose ul ul,
  .prose li {
    @apply my-0;
  }

  .prose td > ol,
  .prose td > ul {
    @apply my-0;
  }

  .prose ul + ul,
  .prose ol + ol {
    @apply mt-5;
  }

  .prose table {
    @apply my-5;
  }

  .peerdb {
    font-family: "Lexends", theme(fontFamily.sans);
    font-style: normal;
    font-weight: 600;
  }
}

@font-face {
  font-display: block;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  src: url("lexend-v19-latin-600.woff2") format("woff2"), url("lexend-v19-latin-600.ttf") format("truetype");
}
